.audio-player {
    height: 50px;
    width: 300px;
    color: rgb(255, 255, 255);
    color: white;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}

.controls {
    height: 50px;
    background-color: rgb(165, 42, 42);
    width: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.time {
    font-size: 10px;
    color: white;
    position: relative;
    top: 14px;
    margin: 5px;
}

.play_pause img,
.volume img {
    width: 30px;
    height: 30px;
}

.time {
    top: 0;
}

.audio_button_style {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: none;
    outline: none;
    background-color: inherit;
}

.progressbar {
    width: 150px;
    height: 4px;
    background-color: antiquewhite;
    position: relative;
}

.defaultprogressbar {
    position: absolute;
    width: 0px;
    height: 4px;
    background-color: blueviolet;
}

.ui-slider .ui-slider-handle {
    width: 15px;
    height: 15px;
    border-radius: 300px;
    background-color: rgb(34, 139, 34);
    border: none;
    outline: none;
}

.ui-slider .ui-slider-handle:active {
    background-color: rgb(222, 184, 135);
}